<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}<meta charset="UTF-8">{% endblock %}
    <title>{% block title %}foodgram{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    {% block links %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
    {% endblock %}
</head>
<body class="body">
{% csrf_token %}
{% include 'includes/nav.html' %}
{% block content %}
<!-- content -->
{% endblock %}
{% include 'includes/footer.html' %}
</body>
</html>