{% extends "base.html" %}
{% block meta %}
{% load css_filter %}
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
        {% if url_name == 'profile' %}
            {% include 'includes/tags_ul_profile.html' %}
        {% else %}
            {% include 'includes/tags_ul.html' %}
        {% endif %}
    </div>
    {% if user.is_authenticated and url_name == 'profile' %}
        {% if author != user %}
        <div class="author-subscribe" data-author="{{ author.id }}">
            <p style="padding: 0 0 2em 0;">
                {% if not author.id|subscribes:user %}
                    <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
                        Подписаться на автора
                    </button>
                {% else %}
                    <button class="button button_style_light-blue button_size_subscribe button_style_blue" name="subscribe">
                        Отписаться от автора
                    </button>
                {% endif %}
            </p>
        </div>
        {% endif %}
    {% endif %}
    <div class="card-list">
        {% for recipe in page %}
            {% include 'includes/recipe_card.html' %}
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include 'includes/paginator.html' with items=page paginator=paginator%}
    {% endif %}
</main>
<script src="{% static 'js/js/components/MainCards.js' %}"></script>
{% if user.is_authenticated %}
    <script src="{% static 'js/js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/js/components/Purchases.js' %}"></script>
{% endif %}

<script src="{% static 'js/js/config/config.js' %}"></script>
<script src="{% static 'js/js/components/CardList.js' %}"></script>
<script src="{% static 'js/js/components/Header.js' %}"></script>
<script src="{% static 'js/js/api/Api.js' %}"></script>
{% if url_name == 'profile' %}
    <script src="{% static 'js/js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/authorRecipe.js' %}"></script>
{% else %}
    {% if user.is_authenticated %}
        <script src="{% static 'js/indexAuth.js' %}"></script>
    {% else %}
        <script src="{% static 'js/indexNotAuth.js' %}"></script>
    {% endif %}
{% endif %}

{% endblock %}