{% extends "base.html" %}
{% load css_filter %}
{% block meta %}
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/pages/myFollow.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="card-list">
        {% for card in page %}
        <div class="card-user" data-author="{{ card.author.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ card.author.get_full_name }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in card.author.recipes.all|slice:":3" %}
                    <li class="card-user__item">
                        <div class="recipe">
                            {% load thumbnail %}
                            {% thumbnail recipe.img "100x100" crop="center" upscale=True as im %}
                                <img class="recipe__image" src="{{ im.url }}" alt="Какой-то текст"/>
                            {% endthumbnail %}
                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span>{{ recipe.duration }}</p>
                        </div>
                    </li>
                    {% endfor %}
                    {% if card.author.recipes.count > 3 %}
                        <li class="card-user__item">
                            <a href="{% url 'profile' card.author.id %}" class="card-user__link link">Ещё {{  card.author.recipes.count|minus:3}} рецептов</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-user__footer">
                {% if not card.author.id|subscribes:user %}
                    <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
                        Подписаться на автора
                    </button>
                {% else %}
                    <button class="button button_style_light-blue button_size_subscribe button_style_blue" name="subscribe">
                        Отписаться от автора
                    </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include 'includes/paginator.html' with items=page paginator=paginator%}
    {% endif %}
</main>

<script src="{% static 'js/js/config/config.js' %}"></script>
<script src="{% static 'js/js/components/MainCards.js' %}"></script>
<script src="{% static 'js/js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/js/components/Header.js' %}"></script>
<script src="{% static 'js/js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}
